services:
  backend:
    build: ./backend/api
    container_name: sympla-backend
    env_file:
      - ./backend/api/.env
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: sympla-frontend
    ports:
      - "3001:3000"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:3000
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
