.metricas-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.metrica-card {
  background-color: var(--cor-branca);
  border: 3px solid var(--cor-cinza-claro);
  border-radius: 12px;
  padding: 20px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 7px 7px rgb(128, 128, 128, 0.6);
}
