:root {
  --cor-branca: #ffffff;
  --cor-fundo: #f9f9f9;
  --cor-texto: #1e1e1e;
  --cor-cinza-claro: #E0E0E0;
  --cor-cinza: #888888;
  --cor-cinza-escuro: #555555;
  --cor-azul: #007bff;
  --cor-azul-escuro: #2F4858;
}
